@use "../utils/flex-mixin" as mix;

.header {
    @include mix.setFlex(row, space-between);
    width: 45%;
    max-width: 475px;
    margin: 5px 0;
    position: absolute;
    left: 5vw;
    bottom: 72vh;

    @media only screen and (min-height: 650px) {
        margin: 25px 0;
    }

    @media only screen and (min-height: 550px) {
        position: static;
        width: 85%;
    }
    
    &__logo {
        color: var(--secondary-font-color);
        font-size: 1em;
        padding-left: 5px;
        transform: translateY(-10px);
    }
}